In [61]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import random as rnd

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
# fetching the data tables form system
data = pd.read_csv("/content/drive/MyDrive/BitcoinHeistData.csv")
data.head(5)

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000,princetonLocky

In [64]:
data['label'].unique()

array(['princetonCerber', 'princetonLocky', 'montrealCryptoLocker',
       'montrealCryptXXX', 'paduaCryptoWall', 'montrealWannaCry',
       'montrealDMALockerv3', 'montrealCryptoTorLocker2015',
       'montrealSamSam', 'montrealFlyper', 'montrealNoobCrypt',
       'montrealDMALocker', 'montrealGlobe', 'montrealEDA2',
       'paduaKeRanger', 'montrealVenusLocker', 'montrealXTPLocker',
       'paduaJigsaw', 'montrealGlobev3', 'montrealJigSaw',
       'montrealXLockerv5.0', 'montrealXLocker', 'montrealRazy',
       'montrealCryptConsole', 'montrealGlobeImposter', 'montrealSam',
       'montrealComradeCircle', 'montrealAPT', 'white'], dtype=object)

In [65]:
data.shape

(1048575, 10)

In [66]:
data.columns

Index(['address', 'year', 'day', 'length', 'weight', 'count', 'looped',
       'neighbors', 'income', 'label'],
      dtype='object')

In [67]:
data = data.drop(columns=['address'])

In [68]:
data = data.sample(frac = 1)     # shuffling the data

In [69]:
X = data.drop('label',axis=1).values
Y = data['label']

In [70]:
X

array([[2.01200000e+03, 7.90000000e+01, 6.00000000e+00, ...,
        0.00000000e+00, 2.00000000e+00, 3.93020000e+10],
       [2.01300000e+03, 7.50000000e+01, 7.00000000e+01, ...,
        0.00000000e+00, 2.00000000e+00, 4.44740753e+11],
       [2.01200000e+03, 3.44000000e+02, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+08],
       ...,
       [2.01100000e+03, 3.57000000e+02, 0.00000000e+00, ...,
        0.00000000e+00, 2.00000000e+00, 7.13376270e+07],
       [2.01200000e+03, 2.38000000e+02, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 3.12640000e+08],
       [2.01300000e+03, 7.50000000e+01, 3.60000000e+01, ...,
        0.00000000e+00, 2.00000000e+00, 1.01317819e+08]])

In [71]:
X = StandardScaler().fit_transform(X)    # standardise the data

In [72]:
X

array([[-0.04814226, -0.94396576, -0.47559468, ..., -0.12509531,
        -0.01740912,  0.11845675],
       [ 0.94682713, -0.98390951,  1.02253187, ..., -0.12509531,
        -0.01740912,  1.70477388],
       [-0.04814226,  1.70230808, -0.61604405, ..., -0.12509531,
        -0.07110449, -0.03492475],
       ...,
       [-1.04311164,  1.83212528, -0.61604405, ..., -0.12509531,
        -0.01740912, -0.03503689],
       [-0.04814226,  0.64379854, -0.61604405, ..., -0.12509531,
        -0.07110449, -0.03409278],
       [ 0.94682713, -0.98390951,  0.22665214, ..., -0.12509531,
        -0.01740912, -0.03491959]])

In [73]:
X.shape

(1048575, 8)

In [74]:
data.isnull().sum()

year         0
day          0
length       0
weight       0
count        0
looped       0
neighbors    0
income       0
label        0
dtype: int64

In [75]:
Y = np.array(Y)

In [76]:
type(Y)

numpy.ndarray

In [77]:
N = len(data)
N

1048575

In [78]:
X_train = np.array(X[: int(N*(0.7))])
Y_train = np.array(Y[: int(N*(0.7))])
X_val = np.array(X[int(N*(0.7)) : int(N*(0.85))])
Y_val = np.array(Y[int(N*(0.7)) : int(N*(0.85))])
X_test = np.array(X[int(N*(0.85)) : ])
Y_test = np.array(Y[int(N*(0.85)) : ])

In [79]:
X_train.shape

(734002, 8)

In [80]:
Y_test.shape

(157287,)

In [81]:
X_val.shape

(157286, 8)

# **Decsion Tree Classifier**
## **Gini Index**

In [82]:
Max_Depth = [4, 8, 10, 15, 20]

In [83]:
for depth in Max_Depth:
  dt = DecisionTreeClassifier(criterion = 'gini', max_depth = depth)
  dt.fit(X_train, Y_train)
  Y_pred = dt.predict(X_test)
  score = accuracy_score(Y_pred, Y_test)*100
  print("Accuracy for max depth ", depth, " for test set is :- ", score)

  Y_pred = dt.predict(X_val)
  score = accuracy_score(Y_pred, Y_val)*100
  print("Accuracy for max depth ", depth, " for vald set is :- ", score,'\n')

Accuracy for max depth  4  for test set is :-  99.07811834417339
Accuracy for max depth  4  for vald set is :-  99.08828503490457

Accuracy for max depth  8  for test set is :-  99.41889666660309
Accuracy for max depth  8  for vald set is :-  99.40045522169805

Accuracy for max depth  10  for test set is :-  99.43034071474437
Accuracy for max depth  10  for vald set is :-  99.41380669608229

Accuracy for max depth  15  for test set is :-  99.36612688906267
Accuracy for max depth  15  for vald set is :-  99.35213560011698

Accuracy for max depth  20  for test set is :-  99.22307628729648
Accuracy for max depth  20  for vald set is :-  99.21544193380211

## **Entropy**

In [84]:
for depth in Max_Depth:
  dt = DecisionTreeClassifier(criterion = 'entropy', max_depth = depth)
  dt.fit(X_train, Y_train)
  Y_pred = dt.predict(X_test)
  score = accuracy_score(Y_pred, Y_test)*100
  print("Accuracy for max depth ", depth, " for test set is :- ", score)

  Y_pred = dt.predict(X_val)
  score = accuracy_score(Y_pred, Y_val)*100
  print("Accuracy for max depth ", depth, " for vald set is :- ", score,'\n')

Accuracy for max depth  4  for test set is :-  99.07811834417339
Accuracy for max depth  4  for vald set is :-  99.08828503490457

Accuracy for max depth  8  for test set is :-  99.41953244705537
Accuracy for max depth  8  for vald set is :-  99.40109100619254

Accuracy for max depth  10  for test set is :-  99.43860586062421
Accuracy for max depth  10  for vald set is :-  99.42779395496103

Accuracy for max depth  15  for test set is :-  99.38265718082232
Accuracy for max depth  15  for vald set is :-  99.38583217832485

Accuracy for max depth  20  for test set is :-  99.26885247986166
Accuracy for max depth  20  for vald set is :-  99.26376155538318

In [85]:
Y_train.shape

(734002,)

In [86]:
X_train.shape

(734002, 8)

In [87]:
Y_train[5]

'white'

# **Ensembling**

In [ ]:
predicted_test_values = []
predicted_vald_values = []

for i in range(100):

  x_train = []
  y_train = []

  for i in range(len(X_train)//2):
    s = rnd.randrange(0, len(X_train), 1)   # bootstrap
    y_train.append(Y_train[s])
    np.append(y_train, Y_train[s])
    x_train.append(X_train[s])
    
  x_train = np.array(x_train)
  y_train = np.array(y_train)


  dt = DecisionTreeClassifier(criterion = 'entropy', max_depth = 3)
  dt.fit(x_train, y_train)
  
  y_pred = dt.predict(X_test)
  predicted_test_values.append(y_pred)

  Y_pred = dt.predict(X_val)
  predicted_vald_values.append(Y_pred)

In [ ]:
predicted_test_values = np.array(predicted_test_values)

In [ ]:
predicted_test_values = np.transpose(predicted_test_values)

In [ ]:
y_pred = []

for x in predicted_test_values:
  values, counts = np.unique(x, return_counts=True)
  ind = np.argmax(counts)
  y_pred.append(values[ind])

y_pred = np.array(y_pred)

In [ ]:
print("accuracy on test set : ", accuracy_score(y_pred, Y_val))

In [ ]:
predicted_vald_values = np.array(predicted_vald_values)

In [ ]:
predicted_vald_values = np.transpose(predicted_vald_values)

In [ ]:
y_pred = []

for x in predicted_vald_values:
  values, counts = np.unique(x, return_counts=True)
  ind = np.argmax(counts)
  y_pred.append(values[ind])

y_pred = np.array(y_pred)

In [ ]:
print("accuracy of validation set : ", accuracy_score(y_pred, Y_val)

# **Ada Boost**

In [ ]:
from sklearn. ensemble import AdaBoostClassifier

In [ ]:
weak_learners = [4, 8, 10, 15, 20]

for wl in weak_learners:
  adb = AdaBoostClassifier(DecisionTreeClassifier(), n_estimators = wl, learning_rate = 1)
  adb.fit(X_train,Y_train)

  y_pred = adb.predict(X_test)
  score = accuracy_score(y_pred, Y_test)
  print("Accuracy with n_estimators = ", wl, " is :- ", score)

  Y_pred = dt.predict(X_val)
  score = accuracy_score(Y_pred, Y_val)*100
  print("Accuracy for max depth ", depth, " for vald set is :- ", score,'\n')